body {background-image: url("img/background.png");}
h1, h2 {font-family: Candara; text-align: center; padding-left: 20px; padding-right: 20px; decoration}
p {font-size: 17px;}
a {text-decoration: none; color: red;}

.topnav {background-color: black; height: 68px; display: flex; padding-bottom: 10px; text-align: center;}

.header {margin: 5px; display: flex; align-items: center;}

.topnav a {
    color: white;
    font-size: 23px;
	text-align: center;
    text-decoration: none;
    padding: 20px;
    font-family: Candara;
    display: inline-block; /* Ensures smooth scaling */
	transition: transform 0.2s ease, color 0.2s ease;} /* Smooth animation */
}
.leftnav a:hover {
    transform: scale(1.2); /* Increases size without affecting layout */
	color: #FFFADA;
	transform-origin: center;}
	

/*.head {display: flex; height: 90px; padding: 20px; align: center;}*/

.head {
    display: flex; /* Enables flexbox */
    padding: 20px;
	text-align: center;
    justify-content: center; /* Centers content horizontally */
    gap: 20px; /* Adds space between elements */
	height: 90px;
	background-color: rgba(128, 128, 128, 0.7);
	padding: 10px;
}

#main {
	padding: 10px;
	
}
